<img src="assets/logo.png" alt="Bunk Gaming" class="home__logo" />

<h2>Welcome to Bunk Gaming!</h2>

<p>
  Welcome to Bunk Gaming, your one-stop destination for all your gaming needs.
  Here, you can browse games by Platform and Developer. Stay tuned for our
  upcoming feature that will allow you to search for games right from the
  homepage.
</p>
<p>Here's some of the latest games. Happy gaming!</p>

<ng-container *ngIf="games == [1]">
  <p>Loading games...</p>
</ng-container>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mx-auto">
  @if(games$ | async; as games) {
    @for(game of games; track game.id) {
      <app-simple-game-card [readMore]="true" link="{{'/games/' + game.id + '/' + game.slug}}">
        {{game.name}}
        <img game-image [src]="game.background_image" alt="" class="game__image" />
      </app-simple-game-card>
    }
  }
</div>

